<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ APP_DESC }}">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Travel Passport</title>
	<link href="assets/css/lib/drax.css" rel="stylesheet">
	<link href="assets/css/lib/feather.css" rel="stylesheet">
	<link href="assets/css/lib/animate.min.css" rel="stylesheet">
	<link href="assets/css/app.css" rel="stylesheet">
	<script src="assets/js/app/helper.js"></script>
	<script src="assets/js/lib/vue.global.prod.js"></script>
	<!-- <script src="@asset('js/lib/vue.global.js')"></script> -->
</head>
<body>
	<style>
	.grid-md{max-width:1000px;margin:0 auto;}
	.grid-sm{max-width:400px;margin:0 auto}
	</style>
	<!-- [APP] Start -->
	<div id="APP" class="p-4">
		<app-loader ref="LOADER"></app-loader>
		
		<section id="intro" class="shadow-lg rounded-lg p-5">
			<div class="grid-md">
				<h2 class="text-left">
					Home
					<span class="text-info">&mdash;</span>
				</h2>
				<p class="">
					Selamat datang pengunjung
				</p>
				<p class="none">
					<span>Isi data diri anda terlebih dahulu</span>
					<span>Lengkapi data kesehatan anda</span>
					<span>Perbarui data kesehatan</span>
				</p>
				<div class="row gap one two-sm three-md four-lg">
					<div>
						<button class="info extra-large">
							<i class="feather-maximize mr-1"></i> 
							<small class="pt-1">Bagikan Kode </small>
						</button>
					</div>
				</div>
			</div>
		</section>
		
		<section id="passport" class="shadow-lg rounded-lg p-5">
			<div class="grid-md">
				<h2 class="text-left">
					Daftar Passport
					<span class="text-info">&mdash;</span>
				</h2>
				<p class="mb-3">Identitas dan status kolega anda</p>
				<div class="row gap one two-md">
					<div class="px-2">
						<button class="muted tile w-100 rounded m-0" @click="open('FORMPASSPORT')">
							<div class="extra-large p-4">
								<i class="feather-plus mr-1"></i> 
								<small class="pt-1">Tambahkan baru</small>
							</div>
						</button>
					</div>
					<div v-for="(pass,i) in PASSPORT.detail" class="px-2">
						<card-passport :ref="'passport'" :passport="pass"></card-passport>
					</div>
				</div>
			</div>
		</section>
		
		<section id="travel" class="shadow-lg rounded-lg p-5">
			<div class="grid-md">
				<h2 class="text-left">
					Riwayat Kunjungan
					<span class="text-info">&mdash;</span>
				</h2>
				<p class="mb-3">Riwayat kunjungan terbaru</p>
				<div class="row gap one two-sm three-xl">
					<div v-for="kunjungan in KUNJUNGAN.detail" class="px-2">
						<card-kunjungan :kunjungan="kunjungan"></card-kunjungan>
					</div>
				</div>
			</div>
		</section>
		
		<app-modal v-model:data="FORMPASSPORT" :url="$apiurl+'api/ppassport/create'" :success="successAddPassport">
			<template #default="{form, error, reset}">
			
				<h4><i class="feather-user"></i> Passport Baru</h4>
				<div class="m-0">
					{{form}}
					<div class="row gap one two-md">													
						<v-text v-model="form.nik" placeholder="NIK"></v-text>
						
						<v-text v-model="form.nama" placeholder="Nama"></v-text>
						
						<v-date v-model="form.lahir" placeholder="Tanggal Lahir"></v-date>
						
						<v-text v-model="form.alamat" placeholder="Alamat Domisili"></v-text>
						
						<v-text v-model="form.telp" placeholder="Telepon"></v-text>
						
						<v-select v-model="form.kelamin" :options="['Laki-laki','Perempuan']" placeholder="Jenis Kelamin"></v-select>
						
						<v-select v-model="form.idpropinsi" :url="$apiurl+'api/pprovinsi/read'" placeholder="Provinsi" keyid="idpropinsi" keyvalue="nama" required></v-select>
						
						<v-select v-model="form.idkota" :url="$apiurl+'api/pkota/read'" placeholder="Kabupaten / Kota" keyid="idkota" keyvalue="nama" :optional="{idpropinsi:form.idpropinsi}" required></v-select>
						
					</div>
				</div>
				<div class="">
					<button class="secondary">Selanjutnya</button>
				</div>
			</template>
		</app-modal>
				
	</div>
	<!-- [APP] End -->
	
	<script>
		/* [APP] Root */
		const app = Vue.createApp({
			data(){
				return {
					FORMPASSPORT:{},
					PASSPORT:{
						detail:[]
					},
					KUNJUNGAN:{
						detail:[
							{wisata:'Selecta',alamatdtw:'batu',telpdtw:'12346789',fotodtw:'http://placeimg.com/320/240/any',lat:'',lon:'',tanggal:'8 Jan 2021',jumlah:2},
							{wisata:'Jatim Park 3',alamatdtw:'batu',telpdtw:'12346789',fotodtw:'http://placeimg.com/360/240/any2',lat:'',lon:'',tanggal:'9 Jan 2021',jumlah:1},
						]
					},
				}
			},
			mounted(){
				this.fetchPassport();
				this.fetchKunjungan();
			},
			methods:{
				fetchPassport(){
					http.post(this.$apiurl+'api/ppassport/read',{
						body:this.setData({
							start:0,
							length:10
						})
					}).then(response=>{
						console.log(response);
						this.PASSPORT.detail = response.message.data;
					})
				},
				successAddPassport(){				
					http.post(this.$apiurl+'api/ppassport/read',{
						body:this.setData({
							start:0,
							length:10
						})
					}).then(response=>{
						console.log(response.message.data);
						this.PASSPORT.detail = response.message.data;	
						var newPassport = response.message.data.pop();
						APP.$refs.passport.open('FORMRAPID',{idpassport:newPassport.idpassport});
						//setTimeout(()=>{
							//var index = APP.PASSPORT.detail.length;
							//var child = APP.$refs['passport'+index];
							//var newPassport = APP.PASSPORT.detail.pop();
							//console.log(newPassport);
							//child.openFormRapid({idpassport:newPassport.idpassport});
						//},500);
					})
				},
				fetchKunjungan(){
					
				}
			}
		});
		const LOGGED = true;
		
		app.component('card-passport',{
			props:['passport'],
			data(){
				return {
					FORMRAPID:{},
					DETAIL:{},
					DELETE:{},
					detailKesehatan:[],
					detailLoading:false,
					
				}
			},
			methods:{
				openFormRapid(){
					console.log('rapid');
				},
				fetchDetailKesehatan(passport){
					this.open('DETAIL',passport);
					this.detailLoading = true;
					http.post(this.$apiurl+'api/prapid/read',{
						body:this.setData({
							start:0,
							length:10,
							idpassport:passport.idpassport
						})
					}).then(response=>{
						this.detailKesehatan = response.message.data;
					}).finally(()=>{
						this.detailLoading = false;
					});
				},
				fetchPassport(){
					APP.fetchPassport();
				}
			},
			computed:{
				statusClass(){
					return this.passport.status=='Valid' && this.passport.expired==0?
							'success':
							this.passport.status=='Proses Validasi'?
								'muted':
								'error';
				}
			},
			template:`
				<div class="button tile w-100 white text-black text-left m-0 p-0 shadow rounded">
					<div class="p-1 large">
						<div :class="'text-'+statusClass">
							<i class="feather-shield display-1"></i>
						</div>
					</div>
					<div>
						<div class="right group dropdown dropdown-right"> 
							<a class="button transparent text-black" data-dropdown="" tabindex="0">
								<i class="feather-more-horizontal"></i>
							</a>
							<ul class="menu"> 
								<li class="menu-item">
									<a @click.prevent="fetchDetailKesehatan(passport)">Detail</a>
								</li> 
								<li class="menu-item">
									<a @click="open('FORM',passport)">Ubah</a>
								</li> 
								<li class="menu-item">
									<a @click="open('DELETE',Object.assign(passport,{id:passport.idpassport}))">Hapus</a>
								</li> 
							</ul> 
						</div>
						<div class="small" style="padding:.4em">
							<p>
								<b class="large mr-1">{{passport.nama}}</b>
								
								<button v-if="passport.status!='Valid'" class="label warning" @click="open('FORMRAPID',{idpassport:passport.idpassport})">Update Data</button>
								<button v-else class="label info" @click="fetchDetailKesehatan(passport)">Lihat detail</button>
							</p>
							<p class="m-0">Alamat : {{passport.alamat}}</p>
							<p class="m-0">Status : {{passport.expired!=0?'Kadaluarsa':passport.status||'-'}}</p>
							<p class="m-0">Expired : {{passport.tanggalexpired||'-'}}</p>
							<p  class="m-0">Keterangan : {{!passport.keterangan?'Belum diupload':passport.expired==0?'Data sudah kadaluarsa':passport.keterangan}}</p>
						</div>
					</div>
				</div>


				<!-- [App Modal] Start -->
				<app-modal v-model:data="DETAIL">
					<template #default="{form, error, reset}">
						<h4><i class="feather-user"></i> Detail Passport</h4>
						<div class="row">
							<div>
								<p>Nama : <b>{{form.nama}}</b> </p>
								<p class="m-0">Alamat : <b>{{form.alamat}}</b> </p>
								<p class="m-0">Status : <b>{{form.status}}</b> </p>
								<p class="m-0">Keterangan : <b>{{form.keterangan}}</b> </p>
							</div>
							<div>
								<div class="right">
									<!-- <img :src="$apiurl+'uploads/'+form.qrcode+'.png'" width="200" height="200" :alt="form.qrcode"> -->
									<img :src="$apiurl+'qr/?'+form.qrcode" width="200" height="200" :alt="form.qrcode">
									<p class="small text-center">
										{{form.qrcode}}
									</p>
								</div>
							</div>
						</div>
						<button v-if="passport.status!='Valid'" type="button" class="warning" @click="open('FORMRAPID',{idpassport:passport.idpassport})">Update Hasil Lab</button>
						<br>
						<h5><i class="feather-shield"></i> Riwayat Kesehatan</h5>
						<div class="overflow-x">
							<table>
								<tr class="nowrap">
									<th class="px-2">No</th>
									<th class="px-2">Faskes</th>
									<th class="px-2">Dokter</th>
									<th class="px-2">Jenis Tes</th>
									<th class="px-2">Tanggal Tes</th>
									<th class="px-2">Tanggal Expired</th>
									<th class="px-2">Status</th>
									<th class="px-2">Keterangan</th>
								</tr>
								<tr v-if="detailLoading">
									<td colspan="8">Loading...</td>
								</tr>
								<tr v-else-if="detailKesehatan.length==0 && !detailLoading">
									<td colspan="8">Tidak ada data</td>
								</tr>
								<tr v-else v-for="d in detailKesehatan">
									<td>{{d.no}}</td>
									<td>{{d.faskes}}</td>
									<td>{{d.dokter}}</td>
									<td>{{d.jenistes}}</td>
									<td>{{d.tanggaltes}}</td>
									<td>{{d.tanggalexpired}}</td>
									<td>{{d.status}}</td>
									<td>{{d.keterangan}}</td>
								</tr>
							</table>
						</div>
						<br>
					</template>
				</app-modal>
				
				<app-modal v-model:data="FORMRAPID" :url="$apiurl+'api/prapid/create'" :success="fetchPassport">
					<template #default="{form, error, reset}">
					
						<h4><i class="feather-user"></i> Hasil Lab </h4>
						{{form}}
						<div class="m-0">
							<div class="row gap one two-md">													
								<v-text v-model="form.faskes" placeholder="Faskes"></v-text>
								
								<v-text v-model="form.dokter" placeholder="Nama Dokter (tanpa gelar)"></v-text>
								
								<v-date v-model="form.tanggaltes" placeholder="Tanggal Tes"></v-date>
								
								<v-select v-model="form.idjenistes" :url="$apiurl+'api/pjenistes/read'" placeholder="Jenis Tes" keyid="idjenistes" keyvalue="nama"></v-select>
								
								<v-file v-model="form.hasillab" placeholder="Foto Hasil Lab"></v-file>								
								
							</div>
						</div>
						<div class="">
							<button class="secondary">Selanjutnya</button>
						</div>
					</template>
				</app-modal>
				
				
				<app-modal v-model:data="DELETE" :url="$apiurl+'api/ppassport'" method="delete" :success="fetchPassport">
					<template #default="{form, error, reset}">
						<h4><i class="feather-trash"></i> Delete</h4>
						<p>
							Menghapus data passport akan <b>menghapus seluruh data riwayat kesehatan dan perjalanan</b>, <br>
							Apakah anda yakin ingin menghapus data ?
						</p>
						<p class="silver p-3">
							Nama : {{form.nama}}<br>
							Alamat : {{form.alamat}}<br>
							Umur : {{form.umur}}<br>
						</p>
		<!--
						<pre class="small" v-text="JSON.stringify(form,null,2)"></pre>
		-->
						<div class="">
							<button class="error">Hapus</button>
							<button @click.prevent="reset()" class="muted">Batal</button>
						</div>
					</template>
				</app-modal>
				
				
				<!-- [App Modal] End -->
				
			`
		});
		
		app.component('card-kunjungan',{
			props:['kunjungan'],
			data(){
				return {}
			},
			methods:{
				
			},
			template:`	
				<div class="relative">
					<div style="height:250px">
						<img :src="kunjungan.fotodtw" class="rounded shadow" style="height:250px;object-fit:cover">
					</div>
					<div class="relative white rounded shadow mx-3 mx-lg-5 py-3 px-4" style="z-index:1;margin-top:-6em;">
						<h5 class="">
							<span class="border-bottom-left">
								{{kunjungan.wisata}}
							</span>
							<small class="right">
								<i class="feather-map-pin small"></i> {{kunjungan.alamatdtw}}
							</small>
						</h5>
						<p class=""> {{kunjungan.tanggal}}</p>
						<p class="m-0">
							<a class="text-maroon">{{kunjungan.jumlah}} orang</a>
						</p>
					</div>
				</div>
			`
		})
	</script>
	
	<!-- [SCRIPT] Start -->
	<div id="app-script">
		<script src="assets/js/config.js"></script>
		<script src="assets/js/app/base.js"></script>
		<script src="assets/js/app/form.js"></script>
		<script src="assets/js/app/table.js"></script>
		<script src="assets/js/app/app.js"></script>
	</div>
</body>
</html>
